@model ApplicationPerformance.Models.SystemUser
@Styles.Render("~/Content/css")
<link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-ui.js"></script>
@Scripts.Render("~/bundles/modernizr")



@{
    Layout = "";
}

@{
    ViewBag.Title = "LogIn";
}
<body background="~/Content/Pictures/Background.jpg" style="background-repeat:no-repeat; background-size:100% 100%;">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.");


        <div class="container" style="opacity:0.92;margin-top:100px">
            <div class="row vertical-offset-50" style="align-items:center">

                <div class="col-md-9">

                </div>

                <div class="col-md-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align:center">Please sign in</h3>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Username" name="Username" type="text">

                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">

                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me

                                        </label>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" style="background-color:#a7a9ac">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:100px;">

            <div class="col-md-2">

            </div>

            <div class="col-md-7">
                <div>
                    @*<img class="landing-pic" src="~/Content/Pictures/HomePic.jpg" alt="Performance Appraisal" />*@

                </div>
            </div>


        </div>






    }


</body>